
/_ReSharper.InVision

/Build/projects
/Build/Build

/Build/Bin

*/bin
*/obj
*.user
*.*~

*/*/bin
*/*/obj

.DS_Store
InVision.suo

/Platform/projects
/Platform/*-build-desktop/
/Platform/InVisionWrap/build/