
/_ReSharper.InVision

/Build/Build
/Build/Bin

*/bin
*/obj
*.user
*.*~

*/*/bin
*/*/obj
/Tests/*/bin
/Tests/*/obj
/Tests/*/*/bin
/Tests/*/*/obj

.DS_Store
InVision.suo

/Platform/Projects
/Platform/*-build-desktop/
/Platform/NativeLibs/*.pro.user*
/Platform/Nursery/*-build-desktop