
/_ReSharper.InVision

/Build/Build
/Build/Bin

*/bin
*/obj
*.user
*.*~

*/*/bin
*/*/obj

/Tutano/build
/Tutano/Bin

/Tests/*/bin
/Tests/*/obj
/Tests/*/*/bin
/Tests/*/*/obj

.DS_Store
InVision.suo

/Platform/Projects
/Platform/*-build-desktop/
/Platform/build*
/Platform/NativeLibs/*.pro.user*
/Platform/Nursery/*-build-desktop